*.FASL
*.fasl
*.lisp-temp
*.aux
*.log
Lib/Makefile
Lib/Makefile.in
Lib/Source/.DS_Store
Lib/Source/Makefile
Lib/Source/Makefile.in
Lib/Source/dcc/.deps/
Lib/Source/dcc/.libs/
Lib/Source/dcc/Makefile
Lib/Source/dcc/Makefile.in
Lib/Source/dcc/dcc_qlbe.lo
Lib/Source/dcc/dcc_qlbe.o
Lib/Source/dcc/libdcc.la
Lib/Source/dcc2/.deps/
Lib/Source/dcc2/.libs/
Lib/Source/dcc2/Makefile
Lib/Source/dcc2/Makefile.in
Lib/Source/dcc2/dcc2_qlbe.lo
ib/Source/dcc2/dcc2_qlbe.o
Lib/Source/dcc2/libdcc2.la
Lib/Source/dipole/.deps/
Lib/Source/dipole/.libs/
Lib/Source/dipole/Makefile
Lib/Source/dipole/Makefile.in
Lib/Source/dipole/dipole_qlbe.lo
Lib/Source/dipole/dipole_qlbe.o
Lib/Source/dipole/libdipole.la
Lib/Source/opra/.deps/
Lib/Source/opra/.libs/
Lib/Source/opra/Configuration.lo
Lib/Source/opra/Configuration.o
Lib/Source/opra/Interface.lo
Lib/Source/opra/Interface.o
Lib/Source/opra/Makefile
Lib/Source/opra/Makefile.in
Lib/Source/opra/Misc.lo
Lib/Source/opra/Misc.o
Lib/Source/opra/OpraOnTheFly.lo
/Source/opra/OpraOnTheFly.o
Lib/Source/opra/liboprac.la
Lib/Source/opra/opra_qlbe.lo
Lib/Source/opra/opra_qlbe.o
Lib/Source/qtc/.deps/
Lib/Source/qtc/.libs/
Lib/Source/qtc/Interface.lo
Lib/Source/qtc/Interface.o
Lib/Source/qtc/Makefile
Lib/Source/qtc/Makefile.in
Lib/Source/qtc/Misc.lo
Lib/Source/qtc/Misc.o
ib/Source/qtc/QTC.lo
Lib/Source/qtc/QTC.o
ib/Source/qtc/libqtcc.la
Lib/Source/qualify-libs/.deps/
Lib/Source/qualify-libs/.libs/
Lib/Source/qualify-libs/Makefile
Lib/Source/qualify-libs/Makefile.in
Lib/Source/qualify-libs/cangle.lo
Lib/Source/qualify-libs/cangle.o
ib/Source/qualify-libs/gpcc.lo
Lib/Source/qualify-libs/gpcc.o
Lib/Source/qualify-libs/gtpcc.lo
Lib/Source/qualify-libs/gtpcc.o
Lib/Source/qualify-libs/libqlbeutils.la
Lib/Source/qualify-libs/libqualifier.la
ib/Source/qualify-libs/qlbe_utils.lo
Lib/Source/qualify-libs/qlbe_utils.o
Lib/Source/qualify-libs/qualifier.lo
Lib/Source/qualify-libs/qualifier.o
Lib/Source/scc/.deps/
ib/Source/scc/.libs/
Lib/Source/scc/Makefile
Lib/Source/scc/Makefile.in
Lib/Source/scc/libscc.la
Lib/Source/scc/scc_qualify.lo
Lib/Source/scc/scc_qualify.o
Lib/Source/tpcc/.deps/
Lib/Source/tpcc/.libs/
Lib/Source/tpcc/Makefile
Lib/Source/tpcc/Makefile.in
Lib/Source/tpcc/libtpcc.la
Lib/Source/tpcc/tpcc_qualify.lo
Lib/Source/tpcc/tpcc_qualify.o
Lib/bin/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
onfig.sub
configure
depcomp
doc/SparQ-Manual.bbl
doc/SparQ-Manual.blg
doc/SparQ-Manual.out
oc/SparQ-Manual.pdf
doc/SparQ-Manual.synctex.gz
doc/SparQ-Manual.toc
install-sh
libtool
ltmain.sh
missing
sparq
stamp-h
stamp-h1
Lib/Source/dcc2/dcc2_qlbe.o
Lib/Source/opra/OpraOnTheFly.o
Lib/Source/qtc/QTC.lo
Lib/Source/qtc/libqtcc.la
Lib/Source/qualify-libs/gpcc.lo
Lib/Source/qualify-libs/qlbe_utils.lo
Lib/Source/scc/.libs/
config.sub
doc/SparQ-Manual.pdf

